<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="cursocrudEntities" connectionString="metadata=res://*/Modelos.db.csdl|res://*/Modelos.db.ssdl|res://*/Modelos.db.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-7RGEDMDL\SQLEXPRESS;initial catalog=cursocrud;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>